<div class="card-body">
  <div class="table-responsive">
    <div *ngIf="anmeldungenGeladen">
    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Position</th>
        <th>Beginn</th>
        <th>Vollst&auml;ndiger Name</th>
        <th>Telefonnummer</th>
        <th>Mitglied</th>
        <th>Saftart</th>
        <th>Abf&uuml;llung</th>
        <th>Bemerkung</th>
        <th>Mostmenge</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Position</th>
        <th>Beginn</th>
        <th>Vollst&auml;ndgier Name</th>
        <th>Telefonnummer</th>
        <th>Mitglied</th>
        <th>Saftart</th>
        <th>Abf&uuml;llung</th>
        <th>Bemerkung</th>
        <th>Mostmenge</th>
      </tr>
      </tfoot>
      <tbody *ngFor="let anmeldung of anmeldungen; let pos = index">
      <tr>
        <td>{{pos + 1}}</td>
        <td>{{anmeldung.beginn| date: 'HH:mm'}}</td>
        <td>{{anmeldung.fullName}}</td>
        <td>{{anmeldung.phone}}</td>
        <td>{{anmeldung.mitglied}}</td>
        <td>{{anmeldung.saftart}}</td>
        <td>{{anmeldung.abfuellung}}</td>
        <td>{{anmeldung.bemerkung}}</td>
        <td>{{anmeldung.angemeldeteMenge}}</td>
      </tr>
      </tbody>
    </table>
    </div>
    <div *ngIf="!anmeldungenGeladen">
      <h4>Anmeldungen sind noch nicht geladen. Bitte Daten importieren.</h4>
    </div>
  </div>
</div>
